* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
table {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}
.header {
  background-color: #5e2a82;
  color: white;
  padding: 20px 10px;
}
#logo {
  height: 80px;
  vertical-align: middle;
  padding: 40px 0 0 30px;
}
.menu {
  text-align: right;
  vertical-align: middle;
}
.menu a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
}
.conteudo {
  background-color: #5e2a82;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-size: 16px;
  line-height: 1.3;
}
.produto {
  background-color: #d8b9e8;
  text-align: center;
  padding: 20px;
}
.produto h2 {
  color: #5e2a82;
  font-size: 24px;
  margin-bottom: 20px;
}
.produto-item {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 10px 0;
}
.produto-imagem {
  width: 150px;
  height: auto;
  border-radius: 10px;
}
.produto-descricao {
  margin-top: 10px;
  font-size: 14px;
  color: #5e2a82;
  font-weight: bold;
}
